<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<div class="accordion accordion-flush home-color" ">
    <h1 class="title text-center">Favorites</h1>
    <% recipes.forEach(function(item){%>
    <div class="accordion-item fav">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <h3><%=item.recipe_name%></h3>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong><%=item.recipe_text%> </strong>
      </div>
    </div>
<% }) %>
  </div>
<%- include ('../partials/footer') %>