<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<div class="accordion accordion-flush home-color">
  <h1 class="title text-center">Favorites</h1>
  <div class="accordion" id="accordionExample">
    <% recipes.forEach(function(item, index){ %>
      <div class="fav accordion-item">
        <h2 class="fav accordion-header" id="heading<%= index + 1 %>">
          <button class="accordion-button f" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse<%= index + 1 %>" aria-expanded="true" aria-controls="collapse<%= index + 1 %>">
            <h3>
              <%= item.recipe_name %>
            </h3>
          </button>
        </h2>
        <div id="collapse<%= index + 1 %>" class="accordion-collapse collapse f" aria-labelledby="heading<%= index + 1 %>"
          data-bs-parent="#accordionExample">
          <div class="accordion-body f">
            <%= item.recipe_text %>
          </div>
        </div>
      </div>
      <% }); %>
  </div>
</div>

<%- include ('../partials/footer') %>