<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <div class="kitch container-fluid pant">
        <div class="row">
            <div class="col-6">
                <table>
                    <tr>
                        <th style="font-size:x-large; color: #48413b;">Your Ingredients</th>
                    </tr>
                </table>
                <div style="overflow: auto; max-height: 75vh; border: 2px solid; border-color: #48413b; padding: 10px;">
                    <table>
                    <% var table_rows = '';
                        ingredients.forEach(function(item){
                            table_rows += `<tr><td class="ingedientitem">${item.ingredient_text}</td>
                                <td><form action="/pantry/delete" method="POST">
                                    <input type="submit" value="REMOVE" class="btn-kitchen-create"/>
                                    <input type="hidden" name="ingredient_id" value="${item.ingredient_id}">
                                </form></td></tr>`;
                        });
                        %>
                    <%- table_rows %>
                    </table>
                </div>
            </div>
            <div class="pan col bg-success-subtle border-start border-4" style="max-height: 100%;">
                <table style="margin-top: 10px;">
                    <tr>
                        <th style="font-size:x-large">Add Ingredients</th>
                    </tr>
                    <tr>
                        <td>
                            <form action="/pantry/uniqueadd" method="POST" style="display: flex; align-items: center; margin-bottom: 20px;">
                                <div class="form-group" style="flex-grow: 1; margin-right: 10px;">
                                    <input type="text" class="form-control" name="ingredient_name" placeholder="Enter ingredient">
                                </div>
                                <div>
                                    <input type="submit" class="btn-kitchen-create" value="ADD">
                                </div>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <th style="font-size:x-large">Quick Add Ingredients</th>
                    </tr>
                    <tr>
                        <td>
                            <form action="/pantry/search" method="POST" id="ingredient_search" style="display: flex; align-items: center; margin-bottom: 20px;">
                                <div class="form-group" style="flex-grow: 1; margin-right: 10px;">
                                    <input type="search_val" class="form-control" name="search_val" placeholder="Search ingredient" value="<%= searchbar_val %>" style="flex-grow: 1; margin-bottom: 0;">
                                </div>
                                <button type="submit" class="btn-kitchen-create">Search</button>
                            </form>
                            
                        </td>
                    </tr>
                    </table>
                        <div style="overflow: auto; max-height: 50vh; border: 2px solid #8B6B4A; padding: 10px;">
                            <table>
                                <tr>
                                    <% var table_rows = '';
                                    unused_ingredients.forEach(function(item){
                                        table_rows += `<tr><td>${item.ingredient_text}</td>
                                            <td><form action="/pantry/add" method="POST">
                                                <input type="submit" value="ADD" class="btn-kitchen-create"/>
                                                <input type="hidden" name="ingredient_id" value="${item.ingredient_id}">
                                            </form></td></tr>`;
                                    });
                                    %>
                                <%- table_rows %>
                                </tr>
                            </table>
                        </div>
            </div>
        </div>
    </div>
</main>

<%- include ('../partials/footer') %>